<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей!</title>
</head>
<body>
<div class="container">

<form th:action="@{/addUser}" th:object="${user}" method="post">
    <p>Имя: <label>
        <input class="form-control" type="text" th:field="*{firstName}" required="required"/>
    </label></p>
    <p>Фамилия: <label>
        <input class="form-control" type="text" th:field="*{lastName}" required="required"/>
    </label></p>
    <p>Логин: <label>
        <input class="form-control" type="text" th:field="*{username}"required="required"/>
    </label></p>
    <p>Пароль: <label>
        <input class="form-control" type="password" th:field="*{password}"required="required"/>
    </label></p>
    <button type="submit" class="btn btn-success">Добавить</button>
</form>
</div>
</body>

</html>