<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<div class="container">
    <h4 class="text-info">Редактирование пользователя
    </h4>
<!--<form th:action="@{/editUser/{id}(id=${user.id})}" th:object="${user}" method="post">-->
    <form th:object="${user}">
    <input class="form-control" type="hidden" id="id" th:field="*{id}"/>
    <p>Имя: <label>
        <input class="form-control" id="efs" type="text" th:field="*{firstName}" required="required"/>
    </label></p>
    <p>Фамилия: <label>
        <input class="form-control" id="eln" type="text" th:field="*{lastName}" required="required"/>
    </label></p>
    <p>Логин: <label>
        <input class="form-control" id="eun"  type="text" th:field="*{username}" required="required"/>
    </label></p>
    <p>Пароль: <label>
        <input class="form-control" id="epw" type="text" th:field="*{password}" required="required"/>
    </label></p>
    <label>
        <select class="mdb-select md-form" id="role" name="role" multiple>
            <option value="ROLE_USER" selected>ROLE_USER</option>
            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
        </select>

    </label>

        <script>
            async function edit(){
                let id = document.getElementById('id').value;
                let firstName = document.getElementById('efs').value;
                let lastName = document.getElementById('eln').value;
                let username = document.getElementById('eun').value;
                let password = document.getElementById('epw').value;
                let editUsr = {
                    id : id,
                    firstName : firstName,
                    lastName : lastName,
                    password : password,
                    username : username
                };
                let select = document.getElementById('role');
                let rls = Array.from(select.selectedOptions).map(o => o.value);
                await fetch('/update?roles='+rls, {
                    method: 'PUT', // *GET, POST, PUT, DELETE, etc.
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(editUsr) // body data type must match "Content-Type" header
                })
                await (response => response.json());
                refresh();
            }
        </script>
        <input type="button" data-dismiss="modal" class="btn btn-success" value="Отправить" onclick="edit()" />
</form>

</div>
</body>

</html>