<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<div class="container">
    <h4 class="text-info">Редактирование пользователя
    </h4>
<!--<form th:action="@{/editUser/{id}(id=${user.id})}" th:object="${user}" method="post">-->
    <form th:object="${user}">
    <input class="form-control" type="hidden" id="id" th:field="*{id}"/>
    <p>Имя: <label>
        <input class="form-control" id="efs" type="text" th:field="*{firstName}" required="required"/>
    </label></p>
    <p>Фамилия: <label>
        <input class="form-control" type="text" th:field="*{lastName}" required="required"/>
    </label></p>
    <p>Логин: <label>
        <input class="form-control" type="text" th:field="*{username}" required="required"/>
    </label></p>
    <p>Пароль: <label>
        <input class="form-control" type="text" th:field="*{password}" required="required"/>
    </label></p>
    <label>
        <select class="mdb-select md-form" id="role" name="role" multiple>
            <option value="ROLE_USER" selected>ROLE_USER</option>
            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
        </select>

    </label>
        <script th:inline="javascript">
            let editusr = [[${user}]];

            async function edit(editusr){
                var select = document.getElementById('role');
                var rls = [];
                rls = Array.from(select.selectedOptions).map(o => o.value);
                alert(editusr);
                alert(rls);
                //TODO PUT запрос!
                refresh();
            }
        </script>
        <input type="button" data-dismiss="modal" class="btn btn-success" value="Отправить" onclick="edit(editusr)" />
</form>

</div>
</body>

</html>